h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}
#header1{
    color: rgb(0, 30, 255);
}
#blog > h1 {
    color: blue;
  }
  a:hover {
  color: purple;
}
p { 
    font-family: "Courier New", monospace;
    font-size: 14px;

  }